
////
/// @section Styles
/// @group variables
////

/// Falcon Blue: Actionable
/// @group colors
/// @type Color
$color-falcon-blue:#4994b6;

/// Dark Blue: Success Action
/// @group colors
/// @type Color
$color-dark-blue:#1c5f7f;

/// Orange: Information Alerts
/// @group colors
/// @type Color
$color-orange:#f58838;

/// Gold: Highlight Notes
/// @group colors
/// @type Color
$color-gold:#d4a411;

/// Red: Urgent Alerts and Errors
/// @group colors
/// @type Color
$color-red:#fb0d1b;

/// Light Grey 1
/// @group colors
/// @type Color
$color-grey-light-1:#f2f2f2;

/// Light Grey 2
/// @group colors
/// @type Color
$color-grey-light-2:#e7e7e5;

/// Medium Grey
/// @group colors
/// @type Color
$color-grey-medium:#d1d2d2;

/// Dark Grey 1
/// @group colors
/// @type Color
$color-grey-dark-1:#a6a6a6;

/// Dark Grey 2
/// @group colors
/// @type Color
$color-grey-dark-2:#4d4d4d;


/// Background color
/// @type Color
$background-color: #ffffff;

/// Background color
/// @type Color
$background-color-grey: #eee;

/// Spinner size
/// @type Number
$spinner-size: 32px; //remember to put semicolen


